@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

.text-decoration {
  text-decoration: none;
}

.banner-nav__styles {
  display: inline-block;
}

.grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 250px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 50px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  inset: 0;
  position: absolute;
}

.logo {
  cursor: pointer;
}

.hidden-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.container-main {
  max-width: 1180px;
  margin: 0 auto;
  width: 100%;
}
